body { margin:0; padding:0; font-family:"宋体"; font-size:14px; line-height:24px; color:#333; 
}
ul,p { padding:0; margin:0; 
}
ul { list-style:none;
}
.clear { clear:both; font-size:0; height:0; line-height:0;
}
a { color:#333; text-decoration:none;
}
a:hover{ text-decoration:underline;
}
#wrap { width:1003px; margin:0 auto;
}
.top { padding-left:297px; width:706px; position:relative; left:0; right:0; z-index:0;
}
.nav { position:absolute; left:0; top:0;
}
#main { background:url(bg_main.jpg?1) repeat-x #9b8461 0 top; width:1003px;
}
.title { float:right; margin-bottom:20px;
}
.box { background:url(bg_content.jpg?1) repeat-y; width:1003px;
}
.mainCon{ background:url(bg_maincon.jpg?1) no-repeat 0 top;
}
.bot { background: url(bg_bot.jpg?1) no-repeat 0 top; height: 14px; width:1003px;
}
.footer { text-align:center; line-height:50px; font-size:12px;
}
.left { float:left; width:245px;
}
#left_img { padding-left:30px;
}
#left_img img { margin-bottom:15px;
}
.right { float:right; width:743px; 
}
.con { padding:0 30px 10px 5px;
}

.bar {
  margin: 10px 0 10px 0; border-bottom:#171616 solid 1px; padding-bottom:8px;
}
.con_job{
	margin:0 auto; padding:0px; margin-bottom:20px; margin-top:20px; overflow:hidden; width:95%;
}
.showBar{
	width:700px; color:#000; float:left; font-weight:bold; 
}
.list_con ul a{ text-decoration:underline;
}
.jobShow ul{
	float:left;
}
.jobShow ul li{
	float:left; width:330px;
}
.con_zw{
	padding:20px 0 20px 0; line-height:24px;
}
.con_zw .bar2{
	height:26px;line-height:26px;font-weight:bold; background:#c7b79f; border-bottom:2px solid #555;  padding-left:20px; color:#05374e;
}

.contact{
	margin:0 auto; padding:0px; margin-bottom:20px; margin-top:20px; overflow:hidden; width:95%;
}
.jShow{
	margin:15px 0px 15px 0px; padding-bottom:20px; padding-left:10px; border-bottom:1px solid #555; height:auto; overflow:hidden;
}
.myShow p{
	text-indent:2em; margin:0 auto; padding:0px; width:98%;
}
.jShow ul li{
	width:300px; float:left; line-height:260%;
}
.jShow ul li.language{
	width:640px; 
}
.jShow ul li.JobValidDate{
	width:320px;
}
.con_zw .bar{
	margin:0 auto; padding:0px; font-size:14px; line-height:30px; font-weight:bold; width:98%; border-bottom:none;
}
.myShow p{
	text-indent:2em;
}
.operat{
	padding:25px 0 0 0;
}
.operat a{ margin-right:10px;
}
.contact ul li{
	line-height:180%;
}
.Joblist_S2 {
	DISPLAY: none
}
.Joblist_S3 {
	DISPLAY: none
}
.Joblist_S4 {
	DISPLAY: none
}
.Joblist_S5 {
	DISPLAY: none
}
